{% extends 'base.html.twig' %}

{% block title %}News!
{% endblock %}

{% block body %}

<section class="pt-7 pt-md-10"> 

<div class="container">
 <div class="row ">
			<div class="col-12"> 
		 	<h2 class="mb-0"> News </h2>
			</div>
	{% for articlespresse in articlespresses %}

		<div class=" col-md-4 d-flex"> 
		<div class="card mb-4 shadow-light-lg lift lift-lg>" 
		<a class="card-img-top " href='#'> 
				<img src="{{vich_uploader_asset(articlespresse, 'imageFile')}}" class="card-img-top" alt="..."> 
		</a>
		<a class="card-body" href="#!"> 
		<h3>
		{{articlespresse.title}}
		</h3>
		</a>
			<p class="mb-0 text-muted">
			{{articlespresse.content}}
			</p>
		<div class="card-meta mt-auto">
		<hr class="card-meta-divider">
			<p class="articlespresse">
			{{articlespresse.author}}
			</p>
			<p class="h7 text-uppercase text muted mb-0 ms auto">
				<time>Ajoutée le {{articlespresse.createdAt? articlespresse.createdAt|date('d/m/Y') : ''}}</time>
			</p>
		</div>
	</div>

	</div>

{# {% include "articlespresse/_comments.html.twig" with  {'comments': articlespresse.comment} %} #}
		{% endfor %}

					
</div>
</div>
<div class="navigation flex justify-center mb-8">
					{% do articlespresses.setpageRange(2) %}
					{{knp_pagination_render(articlespresses,'_base/pagination.html.twig')}}
					</div>
</section> 
{% endblock %}
