{% extends 'base.html.twig' %}

{% block title %}
	{{articlePresse.title}}
{% endblock %}

{% block body %}


	<section class="container">
		{% for flashMessage in app.flashes('success') %}
			<div class=" alert alert-success mt-4">
				{{ flashMessage }}
			</div>

		{% endfor %}
		<div
			class="row g-5">
			{# <div class="col-md-8"> #}
			<h1 class="pb-4 mb-4 fst-italic border-bottom">{{articlePresse.title}}</h1>

			<div class="d-flex justify-content-center">
				<img src="{{ vich_uploader_asset(articlePresse, 'imageFile') }}" alt="{{articlePresse.image}}" class="rounded mt-5 w-100 " style="height: 450px;">
			</div>

			<div class="col-lg-7 mx-auto">
				<p>{{articlePresse.content | raw}}
				</p>
				<hr class="my-4">
				<p>Publié par:
					<a href="#">{{articlePresse.author}}</a>
					le:
					{{articlePresse.createdAt? articlePresse.createdAt|date('d/m/Y') : '' }}
				</p>
				<!-- ajouter à la place du hashtag du href la route vers le profil utilisateur-->
			</div>


			{% include "blog/_comments.html.twig" with  {'comments': articlePresse.comment} %}

            {% include "blog/_form.html.twig"%}

		</div>
	</section>
{% endblock %}
