{% extends 'base.html.twig' %}

{% block title %}Blog!
{% endblock %}

{% block body %}

<main class="container">


	<div class="row mb-2">

		<div class="row g-5">
			<div class="col-md-8">
				<h1 class="pb-4 mb-4 fst-italic border-bottom">blog</h1>
			</h3>
			{% for blog in blogs %}
				<article class="blog-post">
					<h2 class="blog-post-title mb-1">{{blog.title}}</h2>
					{% if blog.imageFile %}
						<a href="">
							<img src="{{ vich_uploader_asset(blog, 'imageFile') }}" alt="{{blog.image}}" class="rounded-t-lg">
						</a>


						<a href="">
							<img src="{{ vich_uploader_asset(blog, 'imageFile')}}" alt="{{blog.image}}" class="rounded-t-lg">
						</a>
						<p>{{blog.author}}</p>
						<p class="blog-post-meta">{{blog.createdAt? blog.createdAt|date('d/m/Y') : '' }}
							<a href="#">Mark</a>
						</p>


						<hr>
						<p>{{blog.content}}</p>


					</article>

				</div>


			</div>

		{% endif %}

	</div>
</div>{% endfor %}</div></main>{% endblock %}
