{% extends 'base.html.twig' %}

{% block title %}
    {{ articleBlog.title }}
{% endblock %}

{% block body %}
    <section class="container">
        {% for flashMessage in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="title">
            <h1 class="pb-3 mb-2 fst-italic border-bottom" style="font-size: 35px;">{{ articleBlog.title }}</h1>
            <div class="card m-0 ">
                    <img src="{{ vich_uploader_asset(articleBlog, 'imageFile') }}" alt="{{ articleBlog.image }}" class="card-img-top w100" style="height: 450px;">
                <div class="card-body">
                    <p>{{ articleBlog.content | raw }}</p>
                    <hr class="my-4">
                    <p>
                        Publié par:
                        <a href="#">{{ articleBlog.author }}</a>
                        le:
                        {{ articleBlog.createdAt ? articleBlog.createdAt|date('d/m/Y') : '' }}
                    </p>
                </div>
            </div>
                        
            </div>


            {% include "blog/_comments.html.twig" with {'comments': articleBlog.comments} %}
            {% include "blog/_form.html.twig" %}
        {# </div> #}
    </section>
{% endblock %}
