{% extends 'base.html.twig' %}

{# {% block title %}liste des mes ess
{% endblock %} #}
{% block body %}
	Mes ess
<html>
<head>
    <!-- Inclure les fichiers CSS et JavaScript de Select2 -->
    <link rel="stylesheet" href="chemin_vers/select2.min.css">
    <script src="chemin_vers/select2.min.js"></script>
</head>
<body>
    <form>
        <!-- Champ d'activité avec la classe 'select2' -->
        <select class="form-control select2" multiple>
            <option value="restaurant">Restaurant</option>
            <option value="restaurant_collectif">Restaurant collectif</option>
            <option value="snack">Snack</option>
            <option value="traiteur">Traiteur</option>
            <option value="restaurant_vegetalien">Restaurant végétalien</option>
        </select>
    </form>

    <!-- Initialisation de Select2 -->
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</body>
</html>


	{# {% block table_content %}
		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nom de la structure</th>
					<th scope="col">Email</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Secteur d'activité</th>
					<th scope="col">Statut juridique</th>
					<th scope="col">Numéros de téléphone</th>
					<th scope="col">numéro de SIRET</th>
					<th scope="col">Ville</th>
					<th scope="col">logo</th>
					<th scope="col">Date de création</th>


				</tr>
			</thead>
			<tboy>
				{% for ess in app.user.ess %}
					<tr class="table-primary">
						<th scope="row">{{ess.id}}</th>
						<td>{{ess.NameStructure}}</td>
						<td>{{ess.Email}}ntent</td>
						<td>{{ess.LastName}}</td>
						<td>{{ess.FirstName}}</td>
						<td>{{ess.SectorActivity}}</td>
						<td>{{ess.LegalStatus}}</td>
						<td>{{ess.PhoneNumber}}</td>
						<td>{{ess.SiretNumber}}</td>
						<td>{{ess.City}}</td>
						<td>{{ess.Image}}</td>
						<td>{{ess.CreatedAt|date('d/m/Y')}}</td>
						<td>
							<a href="{{ path('ess.edit', {'id': ess.id}) }}">Modifier</a>

							<a href="{{ path('ess.delete', {'id': ess.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>

						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

		<a href="{{ path('users.index') }}">Retour au profil
		</a>

	{% endblock %} #} #}

{% endblock %}
